.container {
    padding-left: 80px;
    width: 1440px;
    height: auto;
    border-radius: 15px;
    background-image: url("C:\Users\Lenovo\Desktop\Programavimas\HTML-CSS-Exam\assets\assets\background.sv");
}

.logo {
    padding-top: 70px;


}

.nav-center {
    display: flex;
    justify-content: space-between;
    align-items: end
}

.nav-links {
    width: 400px;
    padding-top: 70px;
    text-decoration: none;

}

nav a {
    color: grey;
    text-decoration: none;
    font-size: medium;
    margin-left: 1.5rem;

}

/* nav a:last-child {
    color: red;
} */

.master {
    display: flex;
    justify-content: space-between;

}

.text-block {
    width: 620px;

}

h1 {
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(234, 86, 205);
    letter-spacing: 5px;
    padding-top: 80px;

}

h2 {
    font-size: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 3px;
    font-weight: bold;
    line-height: 100px;
    margin: 60px 0px 60px 0px;
}

p {
    font-size: 20px;
    font-weight: 200;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #555555;
    line-height: 32px;
    box-align: left;
}

.button {
    border-radius: 40px;
    width: 200px;
    height: 80px;
    border: 2px rebeccapurple;
}

.birds-container {
    border-radius: 10px;
    background-color: rgb(232, 117, 136);
    width: 1280px;
    height: 320px;
}

.birds-text {
    padding-top: 150px;
    padding-left: 65px;
}

h4 {
    vertical-align: bottom;
    font-size: 40px;
    margin: 0px;
}

.press {
    width: 1280px;
    display: flex;
    padding-top: 100px;
    justify-content: space-between;

}

.showcase-text {
    padding-top: 80px;
}

u {
    text-decoration: underline;
}